html, body {
    font-family: "Lexend", sans-serif;
    background-color: #ffffff;
    height: 100%;
    margin: 0; 
}

body {
    display: grid;
    grid-template-columns: auto 1fr; 
    min-height: 100vh; 
}