html, body {
    font-family: "Lexend", sans-serif;
    background-color: #ffffff;
    height: 100%;
    margin: 0; 
}

body {
    display: grid;
    grid-template-columns: auto 6px 1fr; /* Three columns: sidebar, vertical line, main content */
    min-height: 100vh; /* Full viewport height */
}

#vertical-line {
    background-color: #efece9; 
    width: 2px; 
    height: 90%;
    margin-left: 2vw;
    margin-top: 2.5vw;
}

main {
    padding: min(30px, 7%);
}

#cont-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-title {
    font-weight: 500;
    font-size: 3vw;
    margin-top: 0.6vw;
    margin-left: 3.5vw;
}

#add-verse-btn {
    font-family: "Lexend", sans-serif;
    background-color: #ffa25c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 2.1vw;
    padding: 1.3vw;
    font-size: 1.1vw;
    gap: 0.5vw;
    transition: 0.3s;
    float: right;
    margin-right: 1.5vw;
    cursor: pointer;
}

#add-verse-btn:hover {
    background-color: #ff8529;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}  

.modal-content {
    background-color: white;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 2vw;
    width: 50%; 
    border-radius: 1.5vw;
}

#modal-cont-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-content #add-modal-title {
    font-weight: 500;
    margin: 0;
    font-size: 1.7vw;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.7vw;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#cont-two-modal {
    margin-top: 2.5vw;
}

#cont-two-modal p {
    font-weight: 500;
}

#cont-two-modal .column {
    width: 32%;
    display: inline-block;
}

#cont-two-modal select {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 1.05vw;
    color: #a2a19f;
    border: 0.2vw solid #efece9;
    border-radius: 1vw;
    padding: 1vw;
    padding-right: 5vw;
    margin-top: 0.7vw;
    appearance: none;
}

#cont-two-modal option:not(:first-of-type) {
    color: black;
}

#verse-option, #verse-label{
    margin-left: -0.5vw;
}

#cont-two-modal option {
    font-size: 1.05vw;
}

.extra_text {
    font-weight: 500;
    font-size: 1.5vw;
    margin-top: 2.5vw;
}

#cont-three-modal h3 {
    font-size: 1.25vw;
    font-weight: 400;
}

#cont-four-modal {
    display: flex;
    justify-content: flex-end;
}

#confirm-add-btn {
    font-family: "Lexend", sans-serif;
    background-color: #ffa25c;
    color: white;
    border: none;
    border-radius: 2.1vw;
    padding: 1.3vw;
    font-size: 1.1vw;
    transition: 0.3s;
    margin-top: 1.8vw;
    cursor: pointer;
}

#confirm-add-btn:hover {
    background-color: #ff8529;
}

#cont-two h2 {
    margin-top: 3vw;
    margin-left: 3.5vw;
    font-weight: 500;
    font-size: 2vw;
}

#verse-collection {
    margin-left: 3.5vw;
}

#verse-collection table {
    margin-top: -1vw;
    width: 100%;
    border-spacing: 0 2vw; 
    border-collapse: separate;
}

#verse-collection td:nth-child(1) {
    width: 15%; 
}

#verse-collection td:nth-child(2) {
    width: 50%; 
}

#verse-collection td:nth-child(3) {
    width: 10%; 
    text-align: center;
}

#btn-cont {
    display: flex;
    padding-left: 2.5vw;
}

.mem-verse-btn {
    font-family: "Lexend", sans-serif;
    background-color: #ffa25c;
    color: white;
    border: none;
    padding: 1.3vw;
    border-radius: 2vw;
    font-size: 1vw;
    transition: 0.3s;
    cursor: pointer;
}

.mem-verse-btn:hover {
    background-color: #ff8529;
}

#del-verse-btn {
    background-color: #eaeff5;
    border: none;
    padding: 1vw;
    border-radius: 2vw;
    margin-left: 1vw;
    transition: 0.3s;
    cursor: pointer;
    svg {
        fill: #979ea9;
    }
}

#del-verse-btn:hover {
    background-color: #dbdfe3;
}

.mode-btn-options {
    width: 45%;
    height: 25vw;
    font-family: "Lexend", sans-serif;
    border: none;
    border-radius: 1vw;
    margin-right: 1vw;
}

.mode-btn-options:hover {
    background-color: #dbdfe3;

}