#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    padding: 5px 1em;
  
    position: sticky;
    top: 0;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
}

#sidebar ul {
    list-style: none;
}

#sidebar #site-name {
    font-weight: 600;
    font-size: 2vw;
    margin-bottom: 3vw;
}

#sidebar ul li.active a{
    color: #ffa25c;
    svg {
      fill: #ffa25c;
    }
}

#sidebar ul li a:hover {
    background-color: black;
    color: white;
    svg {
        fill: white;
    }
}

#sidebar a{
    border-radius: 0.5vw;
    font-size: 1.3vw;
    padding: 1vw;
    text-decoration: none;
    color: #a2a19f;
    display: flex;
    align-items: center;
    gap: 1.5vw;
    margin-bottom: 0.5vw;
    transition: 0.3s;
    svg {
        fill: #a2a19f;
    }
}



